name: RPM Build
on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

  # To be able to run this workflow manually from the Actions tab, uncomment this:
  # workflow_dispatch:

jobs:
  compute-names:
    name: Compute Binary RPM Name
    runs-on: ubuntu-latest
    outputs:
      brpmname: ${{ steps.bash-magic.outputs.rpmname }}
      thistag: ${{ steps.bash-magic.outputs.tagname }}

    steps:
      - name: Do some bash magic
        id: bash-magic
        env:
          REPOS_NAME: ${{ github.repository }}
          TAGVER: ${{ github.ref }}
        run:
          echo "::set-output name=rpmname::${REPOS_NAME#*/}-${TAGVER##*/v}.el7.noarch.rpm"
          echo "::set-output name=tagname::${TAGVER##*/}"

  build:
    name: Create RPM Release
    runs-on: ubuntu-latest
    needs: compute-names

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout code
        uses: actions/checkout@master

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Automatic actions completed on push of ${{ needs.compute-names.outputs.thistag }} tag:
            - Create Release
            - Build RPM
            - Upload Source RPM
            - Upload Binary RPM
          draft: false
          prerelease: false

      - name: build RPM package
        id: rpm_build
        uses: naveenrajm7/rpmbuild@v1.0.0
        with:
          spec_file: "jdk1.8-oracle-prereqs.spec"

      - name: Upload Source Release Asset
        # This pulls from the steps above, referencing their ID to get the output object, which for create_release includes an 'upload_url'.
        # See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
        id: upload-source-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.rpm_build.outputs.source_rpm_path }}
          asset_name: ${{ steps.rpm_build.outputs.source_rpm_name }}
          asset_content_type: ${{ steps.rpm_build.outputs.rpm_content_type }}

      - name: Upload Binary Release Asset
        id: upload-binary-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.rpm_build.outputs.rpm_dir_path }}noarch/${{ needs.compute-names.outputs.brpmname }}
          asset_name: ${{ needs.compute-names.outputs.brpmname }}
          asset_content_type: ${{ steps.rpm_build.outputs.rpm_content_type }}
