name: RPM Build
on:
  push:
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10

  # To be able to run this workflow manually from the Actions tab, uncomment this:
  # workflow_dispatch:

jobs:
  build:
    name: Create RPM Release
    runs-on: ubuntu-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Checkout code
        uses: actions/checkout@master

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          body: |
            Changes in this Release
            - Create RPM
            - Upload Source RPM
          draft: false
          prerelease: false

      - name: build RPM package
        id: rpm_build
        uses: naveenrajm7/rpmbuild@v1.0.0
        with:
          spec_file: "jdk1.8-oracle-prereqs.spec"

      - name: Upload Release Asset
        # This pulls from the steps above, referencing their ID to get the output object, which for create_release includes an 'upload_url'.
        # See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps
        id: upload-release-asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }}
          asset_path: ${{ steps.rpm_build.outputs.source_rpm_path }}
          asset_name: ${{ steps.rpm_build.outputs.source_rpm_name }}
          asset_content_type: ${{ steps.rpm_build.outputs.rpm_content_type }}
